@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.w1440p {
  max-width: 77.5rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

ul {
  list-style: none;
}

.m0 {
  margin: 0;
}

/* Définitions des couleurs de la charte graphique */
.blue-primary {
  color: #0065fc;
}

.blue-secondary {
  color: #deebff;
}

.grey {
  color: #f2f2f2;
}

.grey-star {
  color: #d9d9d9;
}

/* Définitions de background en fonction des couleurs de la charte graphique  */
.bg--blue-primary {
  background-color: #0065fc;
}

.bg--blue-secondary {
  background-color: #deebff;
}

.bg--grey {
  background-color: #f2f2f2;
}

.bg--white {
  background-color: white;
}

/* Header */
.header-area {
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar signup";
}

.logo {
  padding: 0;
  grid-area: logo;
}

.navbar {
  align-items: center;
  grid-area: navbar;
}

.nav-link {
  border-top: 0.125rem solid transparent;
  padding: 2rem;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  color: black;
}

.signup {
  border-top: 0.125rem solid transparent;
  padding: 2rem;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  grid-area: signup;
}

.active,
.nav-link:hover,
.signup:hover {
  color: #0065fc;
  border-top: 0.125rem solid #0065fc;
}

/* Recherche & Filtres*/
/* Recherche */
.search-area h1,
.search-area p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-form {
  width: 100%;
  align-items: center;
  padding: 0.75rem 0;
}

.search-icon,
.search-input,
.search-button {
  height: 3.125rem;
  display: flex;
  align-items: center;
}

.search-input,
.search-button {
  padding: 1.25rem;
  border-width: 0.0625rem 0;
  border-style: solid none;
}

.search-icon {
  font-size: 1.25rem;
  padding: 1.25rem;
  border-radius: 1rem 0 0 1rem;
}

.search-input {
  width: 100%;
  max-width: 20%;
  border-color: #f2f2f2;
}

#place::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
  opacity: 1;
}

.search-button {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0 1rem 1rem 0;
  border-color: #0065fc;
  cursor: pointer;
}
/* Filtres */
.filters-area {
  margin-top: 0.75rem;
  flex-wrap: wrap;
  align-items: center;
}

.filters-area h2 {
  align-items: center;
  margin-right: 1.25rem;
  margin-top: 0;
}

.filters-choice {
  align-items: center;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
  border: 0.125rem solid #f2f2f2;
  border-radius: 2rem;
  cursor: pointer;
}

.filters-choice:hover {
  background: rgba(0, 101, 252, .2);
}

.filters-choice i,
.filters-info i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  margin: -0.125rem;
  font-size: 1.25rem;
}

.filters-area h3 {
  margin: 0 1rem;
}

.filters-info,
.filters-info-text {
  align-items: center;
}

.filters-info-icon {
  height: 2rem;
  width: 2rem;
  border: 0.125rem solid #f2f2f2;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

/* Hébergements */
.lodging {
  margin-top: 1.5rem;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
  grid-template-areas: "lodging-area lodging-popular";
}

.lodging-area,
.lodging-popular {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.lodging-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  grid-area: lodging-area;
}

.lodging-area a {
  text-decoration: none;
  color: black;
}

.lodging-area h2,
.lodging-popular h2 {
  grid-column: 1/-1;
  margin: 0;
}

.lodging-card {
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.lodging-card-img {
  height: 7rem;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.lodging-card-img-caption h3 {
  font-size: 1rem;
  margin: 0.15rem 0.15rem 0 0.75rem;
}

.lodging-card-description {
  padding-left: 0;
  margin: 0.25rem 0.75rem;
}

.lodging-card-description li {
  margin-left: 0;
}

.lodging-card-price {
  margin: 0.25rem 0.75rem;
}

.lodging-link-more {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Les + populaires */
.lodging-popular-title {
  display: flex;
  justify-content: space-between;
}

.lodging-popular {
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
  grid-area: lodging-popular;
}

.lodging-popular-title-icon {
  font-size: 1.6rem;
}

.lodging-popular-card {
  padding: 0.375rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.lodging-popular-card-img {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}

.lodging-popular-card-img img {
  border-radius: 1.5rem 0 0 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lodging-popular-card-img-caption {
  flex-direction: column;
}

.lodging-popular-card-img-caption h3,
.lodging-popular-card-img-caption p {
  margin: 0.25rem 1rem;
}

.lodging-popular-card-description {
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

/* Activités */
.activity-area {
  display: grid;
  column-gap: 2rem;
  margin: 2rem auto;
}

.activity-area h1 {
  grid-column: 1/-1;
}

.activity-area-card {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.activity-area-card-figure {
  position: relative;
  flex: 1;
}

.activity-area-card-figure-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.activity-card-img-caption {
  margin: 1.2rem;
}

/* Footer */
.footer-area {
  max-width: 77.5rem;
  padding: 2rem;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.footer-nav {
  flex-direction: column;
  line-height: 1.65rem;
}

.footer-nav h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.footer-nav a {
  text-decoration: none;
  color: black;
}

.footer-nav a:hover {
  color: #0065fc;
}

/* Responsive */
/* - de 768 pixels*/
@media screen and (max-width: 575px) {
  /* Header */
  .header-area {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . signup" "navbar navbar navbar";
  }

  .nav-link,
  .signup {
    padding: 1rem;
    border-top: hidden;
  }

  .nav-link {
    border-bottom: 0.125rem solid #f2f2f2;
    width: 50%;
  }

  .active {
    border-bottom: 0.125rem solid #0065fc;
  }

  .logo {
    padding: 1rem;
  }

  .active, .nav-link:hover, .signup:hover {
    color: #0065fc;
    border-top: hidden;
  }

  .filters-area h3 {
    margin: 0 .4rem;
  }

  /* Search Form */
  .search-area {
    padding: 0 1rem;
  }

  .search-area h1,
  .search-area p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .search-area h1 {
    font-size: 1.25rem;
  }

  .search-area p {
    font-size: 0.9375rem;
  }

  .search-input {
    padding: 0.5rem;
    max-width: 60%;
  }

  .search-button {
    font-size: 0;
  }

  .search-button::before {
    content: "\f002";
    font-family: "Font Awesome\ 5 Free";
    font-size: 1.25rem;
  }

  /* Filtres */
  .filters-area h2 {
    width: 100%;
  }

  /* Footer */
  .footer-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .footer-nav:not(:last-child){
    padding-bottom: 2rem;
  }

  .footer-nav h3{
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .search-area,
  .lodging,
  .activity-area {
    padding: 0 1rem;
  }

  .lodging{
    grid-template-columns: 1fr;
    grid-template-areas: "lodging-popular" "lodging-area";
    padding: 0;
  }

  .lodging-popular{
    margin-bottom: 2rem;
    border-radius: 0;
  }

  .lodging-area{
    background-color: transparent;
    grid-template-columns: 1fr;
  }

  .activity-area {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}

/* Entre 768 et 991 pixels */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-area,
  .search-area,
  .lodging,
  .activity-area {
    padding: 0 1rem;
  }

  html {
    font-size: 14px;
  }

  .search-input {
    max-width: 30%;
  }

  .lodging{
    grid-template-columns: 1fr;
    grid-template-areas: "lodging-area" "lodging-popular";
  }

  .lodging-area{
    background-color: transparent;
    margin-bottom: 2rem;
  }

  .lodging-popular{
    background-color: rgba(222, 235, 255, .3);
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .lodging-popular-title{
    grid-column: 1/-1;
  }

  .lodging-popular-card-img-caption h3, .lodging-popular-card-img-caption p {
    margin: .2rem;
  }

  .lodging-popular-card-img-caption h3, .lodging-popular-card-img-caption p, .lodging-popular-card-img-caption ul{
    padding-left: .5rem;
  }

  .activity-area {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }

  .filters-info {
    width: 100%;
   }
}

/* Entre 992 et 1199 pixels */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area,
  .search-area,
  .lodging,
  .activity-area {
    padding: 0 1rem;
  }

  html {
    font-size: 14px;
  }

  .activity-area {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
}

/* + de 1200 pixels */
@media screen and (min-width: 576px) {
  /* Header */
  .header-area {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar signup";
  }

  .header-area, .search-area{
    padding: 0 1rem;
  }

  .nav-link,
  .signup {
    border-top: 0.125rem solid transparent;
  }

  .active,
  .nav-link:hover,
  .signup:hover {
    border-top: 0.125rem solid #0065fc;
  }
/* Search */
  .search-area{
    padding-left: 1rem;
  }
  
  .search-input {
    padding: 0.5rem;
    max-width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .header-area,
  .search-area,
  .lodging,
  .activity-area {
    padding: 0 1rem;
  }

  .activity-area {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }

  .activity-area-card1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }

  .activity-area-card2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }

  .activity-area-card3 {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  .activity-area-card4 {
    grid-column: 3/4;
    grid-row: 2/7;
  }

  .activity-area-card5 {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .activity-area-card6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}